<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- import BS library -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <!-- <link rel="icon" type="image/x-icon" href="assets/images/icon.png"> -->
    <title>RecipME</title>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="450">
    <div class="jumbotron hero-image">
      <div class="container center">
        <h1 class="display-1 p-2">RecipME</h1>
        <p class="lead-1 p-2">
          Create & Share Recipes - the must have tool for all home cooking &
          baking enthusiasts
        </p>
      </div>
    </div>
    <nav class="navbar navbar-expand-md sticky-top navbar-expand-lg">
      <div class="container">
        <!-- <img src="" alt="..."></img> -->
        <a class="navbar-brand abs logo" href="#">RecipME</a>
        <button
          class="navbar-toggler navbar-light"
          type="button"
          data-toggle="collapse"
          data-target="#collapsingNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
          <ul class="navbar-nav">
            <li class="nav-item float-left">
              <form
                id="search_form"
                enctype="multipart/form-data"
                method="POST"
                action="{{url_for('search')}}"
              >
                <div class="input-group">
                  <input
                    name="input-search"
                    type="text"
                    placeholder="Search..."
                    class="form-control search-input"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-search" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </li>
          </ul>
          <!-- Future Implementation of a quick filter/search with predetermined tags / search terms -->
          <!-- <div class="dropdown has-megamenu">
            <button
              class="btn dropdown-toggle filter-dropdown"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categories
            </button>
            <div
              class="dropdown-menu dropdown-menu-align"
              aria-labelledby="dropdownMenuButton"
            ><form name="filter_form"
                id="filter_form"
              enctype="multipart/form-data"
              method="POST"
              action="">
              <div class="container-fluid">
                <div class="row">
                <input name="filter-input" id="filter-input" class="d-none" type="text" value=""/>
                  <div class="col">
                    <h6 class="dropdown-header text-center">
                      Show Star Ratings
                    </h6>
                    <li class="flex-center">
                      <input name="5-star" id="5-star" class="filter-btn" type="submit" value="5 Star"/>
                    </li>
                    <li class="flex-center">
                      <input name="4-star" id="4-star" class="filter-btn" type="submit" value="4 Star"/>
                    </li>
                    <li class="flex-center">
                      <input name="3-star" id="3-star" class="filter-btn" type="submit" value="3 Star"/>
                    </li>
                    <li class="flex-center">
                      <input name="2-star" id="2-star" class="filter-btn" type="submit" value="2 Star"/>
                    </li>
                    <li class="flex-center">
                      <input name="1-star" id="1-star" class="filter-btn" type="submit" value="1 Star"/>
                    </li>
                  </div>
                  <div class="col">
                    <h6 class="dropdown-header text-center">
                      Dietary Lifestyle
                    </h6>
                    <li class="flex-center">
                    <input name="vegan" id="vegan" class="filter-btn" type="submit" value="Vegan"/>
                    </li>
                    <li class="flex-center">
                      <input name="vegetarian" id="vegetarian" class="filter-btn" type="submit" value="Vegetarian"/>
                    </li>
                    <li class="flex-center">
                      <input name="keto" id="keo" class="filter-btn" type="submit" value="Keto"/>
                    </li>
                    <li class="flex-center">
                      <input name="balanced" id="balanced" class="filter-btn" type="submit" value="Balanced"/>
                    </li>
                    <li class="flex-center">
                      <input name="low-fat" id="low-fat" class="filter-btn" type="submit" value="Low Fat"/>
                    </li>
                  </div>
                  <div class="col">
                    <h6 class="dropdown-header text-center">Tags</h6>
                    <li class="flex-center">
                      <input name="5-ingredient" id="5-ingredient" class="filter-btn" type="submit" value="5 Ingredient"/>
                    </li>
                    <li class="flex-center">
                      <input name="15-minute" id="15-minute" class="filter-btn" type="submit" value="15 Minute"/>
                    </li>
                    <li class="flex-center">
                      <input name="slow-cooker" id="slow-cooker" class="filter-btn" type="submit" value="Slow Cooker"/>
                    </li>
                    <li class="flex-center">
                      <input name="one-pan" id="one-pan" class="filter-btn" type="submit" value="One Pan"/>
                    </li>
                    <li class="flex-center">
                      <input name="low-cost" id="low-cost" class="filter-btn" type="submit" value="Low Cost"/>
                    </li>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div> -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link flex-center" href="{{url_for('show_home')}}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link flex-center"
                href="{{url_for('show_home')}}#spotlight"
                >Spotlight</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link flex-center"
                href="{{url_for('show_home')}}#featured"
                >Featured</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link flex-center" href="{{url_for('all_recipes')}}"
                >All Recipes</a
              >
            </li>
            {% if session['username'] %}
            <li class="nav-item dropdown active-user">
              <a
                class="nav-link dropdown-toggle flex-center"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ session['user']['name'] }}
              </a>
              <div
                class="dropdown-menu dropdown-menu-custom"
                aria-labelledby="navbarDropdown"
              >
                <a
                  class="dropdown-item flex-center"
                  href="{{url_for('dashboard')}}"
                  >Dashboard</a
                >
                <a
                  class="dropdown-item flex-center"
                  href="#"
                  data-toggle="modal"
                  data-target="#recipe-modal"
                  >Add recipe</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item flex-center"
                  href="{{url_for('signout')}}"
                  >Sign Out</a
                >
                <a class="dropdown-item flex-center edit-a" href="#" data-toggle="modal" data-target="#edit-modal">Edit Account</a>
                <a class="dropdown-item flex-center delete-a" href="#" data-toggle="modal" data-target="#delete-account-modal">Delete Account</a>
              </div>
            </li>
            {% else %}

            <li class="nav-item">
              <a
                class="nav-link flex-center"
                href="#"
                data-toggle="modal"
                data-target="#login-modal"
                >Sign In</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="alert alert-success" id="success-alert" style="display: none;">
      Recipe Successfully Added!
    </div>
    <div class="alert alert-success" id="rating-alert" style="display: none;">
      Thank you for rating!
    </div>
    {% block nav %} {% endblock %}

    <!-- SIGN UP MODAL -->
    <div
      class="modal fade"
      id="signup-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body modal-body-custom">
            <div class="card card-signup modal-card">
              <article class="card-body mx-auto" style="max-width: 400px;">
                <button
                  type="button"
                  class="btn btn-close"
                  data-dismiss="modal"
                >
                  x
                </button>
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <p class="text-center">Get started with your free account</p>
                <form name="signup_form">
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                    <input
                      name="name"
                      class="form-control"
                      placeholder="Full name"
                      type="text"
                      required
                    />
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                    <input
                      name="email"
                      class="form-control"
                      placeholder="Email address"
                      type="email"
                      required
                    />
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                    <input
                      name="password"
                      id="password"
                      class="form-control password-signup"
                      placeholder="Create password"
                      type="password"
                      required
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text append-width"
                        id="basic-addon2"
                        ><i
                          id="password-show"
                          class="far fa-eye password-display d-none"
                        ></i
                        ><i
                          id="password-hide"
                          class="far fa-eye-slash password-display"
                        ></i
                      ></span>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed-invert themed-border"
                        ><i class="fa fa-lock"></i
                      ></span>
                    </div>
                    <input
                      name="validate-password"
                      id="validate-password"
                      class="form-control themed-border password-signup"
                      placeholder="Repeat password"
                      type="password"
                      required
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text append-width"
                        id="basic-addon2"
                        ><i
                          id="validate-password-show"
                          class="far fa-eye password-display-validate d-none"
                        ></i
                        ><i
                          id="validate-password-hide"
                          class="far fa-eye-slash password-display-validate"
                        ></i
                      ></span>
                    </div>
                  </div>
                  <p class="error-two d-none"></p>
                  <p class="error d-none"></p>
                  <div class="form-group">
                    <button
                      type="submit"
                      value="Sign Up"
                      class="btn btn-block btn-themed"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i> Create
                      Account
                    </button>
                  </div>
                  <p class="text-center">
                    Have an account?

                    <a
                      class="themed-a"
                      href=""
                      data-dismiss="modal"
                      data-toggle="modal"
                      data-target="#login-modal"
                      >Sign In</a
                    >
                  </p>
                </form>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LOGIN MODAL -->
    <div
      class="modal fade"
      id="login-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body modal-body-custom">
            <div class="card card-signup modal-card">
              <article class="card-body mx-auto" style="max-width: 400px;">
                <button
                  type="button"
                  class="btn btn-close"
                  data-dismiss="modal"
                >
                  x
                </button>
                <h4 class="card-title mt-3 text-center">Sign In</h4>
                <form name="login_form">
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                    <input
                      name="email"
                      class="form-control"
                      placeholder="Email address"
                      type="email"
                    />
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                    <input
                      name="password"
                      class="form-control"
                      placeholder="Password"
                      type="password"
                    />
                  </div>
                  <p class="error-login d-none"></p>
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-themed">
                      <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                    </button>
                  </div>
                  <p class="text-center">
                    Don't have an account?

                    <a
                      class="themed-a"
                      href=""
                      data-dismiss="modal"
                      data-toggle="modal"
                      data-target="#signup-modal"
                      >Create one!</a
                    >
                  </p>
                </form>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Recipe MODAL -->
    <div class="modal" id="recipe-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <ul class="nav nav-tabs nav-tabs-custom" id="myTab" role="tablist">
            <li class="nav-item nav-item-custom">
              <a
                class="nav-link active process-button"
                id="recipe-tab"
                data-toggle="tab"
                href="#recipe-name"
                role="tab"
                aria-controls="recipe-name"
                aria-selected="true"
                >General</a
              >
            </li>
            <li class="nav-item nav-item-custom">
              <a
                class="nav-link process-button"
                id="ingredient-tab"
                data-toggle="tab"
                href="#ingredient-name"
                role="tab"
                aria-controls="ingredient-name"
                aria-selected="false"
                >Ingredients</a
              >
            </li>
            <li class="nav-item nav-item-custom">
              <a
                class="nav-link process-button"
                id="recipe-steps-tab"
                data-toggle="tab"
                href="#recipe-steps"
                role="tab"
                aria-controls="recipe-steps"
                aria-selected="false"
                >Method</a
              >
            </li>
          </ul>
          <div class="modal-body">
            <form
              name="recipe_form"
              enctype="multipart/form-data"
              method="POST"
            >
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="recipe-name"
                  role="tabpanel"
                  aria-labelledby="recipe-tab"
                >
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label"
                        >Recipe Name:</label
                      >
                      <input
                        type="text"
                        class="form-control font-sizing"
                        id="recipient-name"
                        name="recipient-name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="recipe-description" class="col-form-label"
                        >Recipe Description:</label
                      >
                      <textarea
                        name="recipe-description"
                        class="form-control font-sizing"
                        id="recipe-description"
                        required
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <label for="recipe-notes" class="col-form-label"
                        >Recipe Notes:</label
                      >
                      <textarea
                        name="recipe-notes"
                        class="form-control font-sizing"
                        id="recipe-notes"
                      ></textarea>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend prepend-uniform">
                        <span
                          class="input-group-text themed prepend-text"
                          id="prepTime"
                          >Prep Time (Min)</span
                        >
                      </div>
                      <input
                        name="prep-time"
                        id="inputPrepTime"
                        type="number"
                        class="form-control font-sizing"
                        placeholder="Enter numerical value"
                        aria-label="prepTime"
                        aria-describedby="prepTime"
                        required
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend prepend-uniform">
                        <span
                          class="input-group-text themed prepend-text"
                          id="cookTime"
                          >Cook Time (min)</span
                        >
                      </div>
                      <input
                        name="cook-time"
                        id="inputCookTime"
                        type="number"
                        class="form-control font-sizing"
                        placeholder="Enter numerical value"
                        aria-label="cookTime"
                        aria-describedby="cookTime"
                        required
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend prepend-uniform">
                        <span
                          class="input-group-text themed prepend-text"
                          id="serves"
                          >Serves</span
                        >
                      </div>
                      <input
                        name="serves"
                        id="inputServes"
                        type="number"
                        class="form-control font-sizing"
                        placeholder="Enter numerical value"
                        aria-label="serves"
                        aria-describedby="serves"
                        v
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend prepend-uniform">
                        <label
                          class="input-group-text themed prepend-text"
                          for="difficultySelector"
                          >Difficulty</label
                        >
                      </div>
                      <select
                        name="difficulty"
                        class="custom-select font-sizing"
                        id="difficultySelector"
                      >
                        <option selected value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend prepend-uniform">
                        <label
                          class="input-group-text themed prepend-text"
                          for="categorySelector"
                          >Category</label
                        >
                      </div>
                      <select
                        name="category"
                        class="custom-select font-sizing"
                        id="categorySelector"
                      > 
                        <option selected value="none">None</option>
                        <option value="vegan">Vegan</option>
                        <option value="vegetarian">Vegetarian</option>
                        <option value="keto">Keto</option>
                        <option value="balanced">Balanced</option>
                        <option value="low-fat">Low Fat</option>
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend prepend-uniform">
                        <label
                          class="input-group-text themed prepend-text"
                          for="tagSelector"
                          >Tag</label
                        >
                      </div>
                      <select
                        name="tag"
                        class="custom-select font-sizing"
                        id="tagSelector"
                      >
                        <option selected value="none">None</option>
                        <option value="5-ingredient">5 Ingredient</option>
                        <option value="15-minute">15 Minute</option>
                        <option value="slow-cooker">Slow Cooker</option>
                        <option value="one-pan">One Pan</option>
                        <option value="low-cost">Low Cost</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="ingredient-name"
                  role="tabpanel"
                  aria-labelledby="ingredient-tab"
                >
                  <div class="modal-body">
                    <div class="form-group">
                      <button
                        class="add_ingredient_button btn btn-block btn-themed"
                      >
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                        Ingredient
                      </button>
                    </div>
                    <div class="input_fields_wrap">
                      <div
                        class="input-group mb-3"
                        id="ingredient-inputs"
                      ></div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="recipe-steps"
                  role="tabpanel"
                  aria-labelledby="recipe-steps-tab"
                >
                  <div class="modal-body">
                    <div class="form-group">
                      <button class="add_step_button btn btn-block btn-themed">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Steps
                      </button>
                    </div>
                    <div class="input_fields_wrap">
                      <div class="input-group mb-3" id="steps-inputs"></div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                type="submit"
                id="recipe-submit"
                style="display: none;"
                class="btn btn-lg btn-themed btn-submit"
              >
                <i class="fa fa-plus" aria-hidden="true"></i> Add Recipe
              </button>
            </form>
            <div class="modal-footer d-block">
              <button
                id="previous"
                style="display: none;"
                class="btn btn-themed-invert btn-lg process-button previous float-left"
              >
                Previous
              </button>
              <button
                id="next"
                class="btn btn-themed-invert btn-lg process-button next float-right"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="modal" tabindex="-1" role="dialog" id="delete-account-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Account Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your account?</p>
      </div>
      <div class="modal-footer">
        <a class="themed-btn-a" href="{{ url_for('show_home') }}"><button type="button"  class="btn btn-danger">Delete Account</button></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ////////////UPDATE ACCOUNT//////////////////// -->
{% if session['username'] %}
 <div
      class="modal fade"
      id="edit-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body modal-body-custom">
            <div class="card card-signup modal-card">
              <article class="card-body mx-auto" style="max-width: 400px;">
                <button
                  type="button"
                  class="btn btn-close"
                  data-dismiss="modal"
                >
                  x
                </button>
                <h4 class="card-title mt-3 text-center">Edit Account</h4>
                <form name="edit_account_form">
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                    <input
                      name="name"
                      class="form-control"
                      placeholder="Full name"
                      type="text"
                      value="{{session['user']['name']}}"
                      required
                    />
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                    <input
                      name="email"
                      class="form-control"
                      placeholder="Email address"
                      type="email"
                      value="{{session['user']['email']}}"
                      required
                    />
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                    <input
                      name="current_password"
                      id="current_password"
                      class="form-control password-signup"
                      placeholder="Current password"
                      type="password"
                      required
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text append-width"
                        id="basic-addon2"
                        ><i
                          id="password-show"
                          class="far fa-eye password-display d-none"
                        ></i
                        ><i
                          id="password-hide"
                          class="far fa-eye-slash password-display"
                        ></i
                      ></span>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                    <input
                      name="new_password"
                      id="new_password"
                      class="form-control password-signup"
                      placeholder="New password"
                      type="password"
                      required
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text append-width"
                        id="basic-addon2"
                        ><i
                          id="password-show"
                          class="far fa-eye password-display d-none"
                        ></i
                        ><i
                          id="password-hide"
                          class="far fa-eye-slash password-display"
                        ></i
                      ></span>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text themed-invert themed-border"
                        ><i class="fa fa-lock"></i
                      ></span>
                    </div>
                    <input
                      name="new-validate-password"
                      id="new-validate-password"
                      class="form-control themed-border password-signup"
                      placeholder="Repeat new password"
                      type="password"
                      required
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text append-width"
                        id="basic-addon2"
                        ><i
                          id="validate-password-show"
                          class="far fa-eye password-display-validate d-none"
                        ></i
                        ><i
                          id="validate-password-hide"
                          class="far fa-eye-slash password-display-validate"
                        ></i
                      ></span>
                    </div>
                  </div>
                  <p class="error-two d-none"></p>
                  <p class="error d-none"></p>
                  <div class="form-group">
                    <button
                      type="submit"
                      value="Sign Up"
                      class="btn btn-block btn-themed"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i> Update
                      Account
                    </button>
                  </div>
                </form>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
<!-- //////////////////////////////// -->



    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <footer class="container-footer mt-10">
      <div class="container p-4">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
      <div class="container footer-sub-container p-4">
        <div class="icon-bar">
          <a href="#" class="facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="google">
            <i class="fa fa-google"></i>
          </a>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="youtube">
            <i class="fa fa-youtube"></i>
          </a>
          <a href="#" class="linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="container p-4">
        <div class="row">
          <div class="col s12 center copyright-text">
            <p>Developer: Paul Edwards © 2020 - Educational Project</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!-- import JQuery library -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <!-- import FA JS library -->
  <script
    src="https://kit.fontawesome.com/0c99553673.js"
    crossorigin="anonymous"
  ></script>
  <!-- import BS JS library -->
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    crossorigin="anonymous"
  ></script>
  <!-- ChartJS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>
</html>
