{% extends 'base.html'%} {% block content %}
{% if top_user %}
<!-- display highest rated user and that users highest rated recipe -->
<section id="spotlight">
  <div class="flex-center section-header">
    <span class="header-custom">Spotlight</span>
  </div>
  <div class="card-deck">
    <div class="card themed-border">
    <div class="card-header center"><h5 class="card-title">Top Chef</h5>
        <p class="card-text capitalise"><a href="{{url_for('user_recipes', user_id=top_user._id)}}"></a>{{top_user.name}}</p>
</div>
<a href="{{url_for('user_recipes', user_id=top_user._id)}}">
      <img
        class="card-img-top"
        src="/static/images/top-chef.jpg"
        alt="Card image cap"
      />
       </a>
    </div>
    <div class="card themed-border">
          <div class="card-header center">
        <h5 class="card-title">Top Chef's Top Recipe</h5>
        <p class="card-text capitalise">{{top_recipe.recipe_name}}</p>
      </div>
      <a href="{{url_for('show_recipe', recipe_id=top_recipe._id)}}">
        <img
          class="card-img-top"
          src="{{top_recipe.img_url}}"
          alt="Card image cap"
        />
      </a>
    </div>
  </div>
</section>
{% endif %}
<section id="featured">
  <div class="flex-center section-header">
    <span class="header-custom">Featured</span>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
  <!-- show featured (top rated) recipes -->
    {% for featured in feature_coll %}
    <div class="col mb-4">
      <div class="card themed-border">
        <a href="{{url_for('show_recipe', recipe_id=featured._id)}}"
          ><img src="{{featured.img_url}}" class="card-img-top" alt="..."
        /></a>
        <div class="card-body">
          <h5 class="card-title display-inline-block capitalise card-name">
            {{featured.recipe_name}}
          </h5>
          <h5 class="card-title float-right">
            {{featured.rnd_avg_rating}} <strong class="star">★</strong>
          </h5>
          <p class="card-text capitalise-line">{{featured.recipe_description}}</p>
          <p class="card-text">
            <small class="text-muted"
              >Difficulty: {{featured.difficulty}}</small
            >
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
