{% extends 'base.html'%}
{% block content %}
<div class="row row-cols-1 row-cols-md-3">
  {% for recipe in recipes %}
  <div class="col mb-4">
    <div class="card">
      <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}"
        ><img src="{{recipe.img_url}}" class="card-img-top" alt="..."
      /></a>
      <div class="card-body">
        <h5 class="card-title display-inline-block">{{recipe.recipe_name}}</h5>
        <h5 class="card-title float-right">{{recipe.avg_rating}} <strong class="star">★</strong></h5>
        <p class="card-text">{{recipe.recipe_description}}</p>
        <p class="card-text">
          <small class="text-muted">{{recipe.prep_time}}</small>
        </p>
        <p class="card-text">
          <small class="text-muted">Difficulty: {{recipe.difficulty}}</small>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
