{% extends 'base.html'%} {% block content %}
{% if rating_msg == "1" %}
    <div class="alert alert-success" id="rating-alert">
      Thank you for rating!
    </div>
{% endif %}
<div class="card mb-4">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-sm flex-center">
          {{recipe.recipe_name}}-{{owner.name}}
        </div>
        <div class="col-sm flex-center">
          Difficulty: {{recipe.difficulty}}
        </div>
        <div class="col-sm flex-center">
          <div class="rating-container">
            <form
              id="rating-form"
              name="rating-form"
              class="rating-form"
              enctype="multipart/form-data"
              method="POST"
              action="{{url_for('rate_recipe', recipe_id=recipe._id)}}"
            >
            <div class="d-none">
             <input type="text" id="star-rating" value="{{recipe.rnd_avg_rating}}" name="star-rating"/>
             </div>
              <label {% if recipe.rnd_avg_rating in (1,2,3,4,5) %} style="color: #fddb87"{% endif %} id="rating-1" class="star-rating">
                <div class="d-none">
                  <input type="radio" name="stars" value="1" />
                </div>
                <span  class="icon">★</span>
              </label>
              <label {% if recipe.rnd_avg_rating in (2,3,4,5) %} style="color: #fddb87"{% endif %} id="rating-2" class="star-rating">
                <div class="d-none">
                  <input type="radio" name="stars" value="2" />
                </div>
                <span class="icon">★</span>
              </label>
              <label {% if recipe.rnd_avg_rating in (3,4,5) %} style="color: #fddb87"{% endif %} id="rating-3" class="star-rating">
                <div class="d-none">
                  <input type="radio" name="stars" value="3" />
                </div>
                <span class="icon">★</span>
              </label>
              <label {% if recipe.rnd_avg_rating in (4,5) %} style="color: #fddb87"{% endif %} id="rating-4" class="star-rating">
                <div class="d-none">
                  <input type="radio" name="stars" value="4" />
                </div>
                <span class="icon">★</span>
              </label>
              <label {% if recipe.rnd_avg_rating == 5 %} style="color: #fddb87"{% endif %} id="rating-5" class="star-rating">
                <div class="d-none">
                  <input type="radio" name="stars" value="5" />
                </div>
                <span class="icon">★</span>
              </label>
              <label>({{recipe.count_rating}})</label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-container">
{% if session['username'] %} 
{% if owner._id == active_user._id %}
  <div class="btn-group img-btns" role="group" aria-label="Basic example">
  <!-- <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"> -->
  
  <button type="button" class="btn btn-themed-invert themed-border"><a class="invert-themed-btn-a" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a></button>
  <!-- </a> -->
{% endif %}
{% if recipe._id in active_user.recipes %}
<!-- <a href="{{ url_for('remove_recipe', recipe_id=recipe._id) }}"> -->

<button type="button" class="btn btn-themed themed-border"><a class="themed-btn-a" href="{{ url_for('remove_recipe', recipe_id=recipe._id) }}">Save</a></button>
    <!-- </a> -->
{% else %}
<a href="{{ url_for('save_recipe', recipe_id=recipe._id) }}">

<button type="button" class="btn btn-themed themed-border"><a class="themed-btn-a" href="{{ url_for('save_recipe', recipe_id=recipe._id) }}">Unsave</a></button>
    <!-- </a> -->
{% endif %}
{% if owner._id == active_user._id %}
<!-- <a href="#"> -->
  <button type="button" class="btn btn-danger"><a class="themed-btn-a" href="#">Delete Recipe</a></button>
  <!-- </a> -->
{% endif %}
</div>
{% endif %}

<img
    src="{{recipe.img_url}}"
    class="card-img-top card-img-custom"
    alt="{{recipe.recipe_name}}"
  />
{% if session['username'] %} 
{% if owner._id == active_user._id %}
<form
  enctype="multipart/form-data"
  method="POST"
  action="{{url_for('add_image', recipe_id=recipe._id)}}"
>
  <!-- <div class="center">
    <input name="file" id="file" type="file" />
    <button class="btn btn-primary" type="submit">add image</button>
  </div> -->
  <div class="input-group mb-0">
  <div class="input-group-prepend">
    <button class="btn btn-themed themed-border" type="submit">Upload</button>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile03">
    <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
  </div>
</div>
</form>
{% endif %} {% endif %}
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Ingredients</h5>
    <ul>
      {% for ingredient in recipe.recipe_ingredients %} {% if ingredient != Null
      %}
      <li class="card-text">{{ingredient}}</li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Method</h5>
    <ol>
      {% for step in recipe.recipe_steps %}
      <li class="card-text">{{step}}</li>
      {% endfor %}
    </ol>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Notes</h5>
    <ul>
      <li class="card-text">{{recipe.notes}}</li>
    </ul>
  </div>
</div>

{% endblock %}
