{% extends 'base.html'%} 

{% block content %}
<div class="center">
      <a href="{{ url_for('save_recipe', recipe_id=recipe._id) }}"
        ><button type="button" class="btn btn-primary">save recipe</button></a
      >
    </div>

<div class="card mb-4">
  <div class="card-header">
    <div class="card-title">{{recipe.recipe_name}}    <p>Difficulty: {{recipe.difficulty}}</p></div>
  </div>
  <img
    src="{{recipe.img_url}}"
    class="card-img-top"
    alt="{{recipe.recipe_name}}"
  />
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Ingredients</h5>
    <ul>
      {% for ingredient in recipe.recipe_ingredients %}
      <li class="card-text">{{ingredient}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Method</h5>
    <ol>
      {% for step in recipe.recipe_steps %}
      <li class="card-text">{{step}}</li>
      {% endfor %}
    </ol>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Notes</h5>
    <ul>
      <li class="card-text">{{recipe.notes}}</li>
    </ul>
  </div>
</div>

{% endblock %}
