{% extends 'base.html'%} {% block content %}
<div class="flex-center section-header">
  <span class="header-custom">Search results for {{search_term}}</span>
</div>
<div class="row row-cols-1 row-cols-md-3">
<!-- for each recipe that matched search, show the recipes details in a bootstrap card -->
  {% for search_result in search_results %}
  <div class="col mb-4">
    <div class="card themed-border">
      <a href="{{url_for('show_recipe', recipe_id=search_result._id)}}"
        ><img src="{{search_result.img_url}}" class="card-img-top" alt="..."
      /></a>
      <div class="card-body">
        <a href="{{url_for('show_recipe', recipe_id=search_result._id)}}"
        ><h5 class="card-title display-inline-block capitalise card-name">
          {{search_result.recipe_name}}
        </h5></a>
        <h5 class="card-title float-right">
          {{search_result.rnd_avg_rating}} <strong class="star">★</strong>
        </h5>
        <p class="card-text capitalise-line">
          {{search_result.recipe_description}}
        </p>
        <p class="card-text">
          <small class="text-muted">{{search_result.prep_time}}</small>
        </p>
        <p class="card-text">
          <small class="text-muted"
            >Difficulty: {{search_result.difficulty}}</small
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
